<%- include('_includes/header', { siteConfig }); -%>

<div class="about__content pad-0">
    <h1><%- siteConfig.owner.name %></h1>
    <p class="about__head"></p>
    <div class="about__description">
        <%- html %>
    </div>
</div>


<%- include('_includes/footer', { siteConfig }) %>
